{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            Welcome {{ app.user.userIdentifier }},
            check your <a href="{{ path('app_dashboard') }}">orders history</a>
            or create a <a href="{{ path('app_order') }}">new order</a>
        </div>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
{% endblock body %}
