{% extends 'base.html.twig' %}

{% block title %}Orders history{% endblock %}

{% block body %}
    {% if orders is empty %}
        no orders are available
    {% else %}
        <table>
            <thead>
                <td>ID</td><td>Amount</td><td>Currency</td><td>Status</td>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td><td>{{ order.amount }}</td><td>{{ order.currency }}</td><td>{{ order.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a href="{{ path('app_order') }}">Create an order now</a>
{% endblock %}
